DEBUG=True
SECRET_KEY=change_me_in_production

DB_ENGINE=sqlite
SQLITE_NAME=db.sqlite3

# DB_ENGINE=mysql
# DB_NAME=meister
# DB_USER=meister
# DB_PASS=StrongPass123!
# DB_HOST=127.0.0.1
# DB_PORT=3306

ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000
TIME_ZONE=Europe/Berlin